@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


body{
  padding: 0;
  margin: 0;
}

.App {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.boks {
  background-color: rgba(0, 0, 0, 0.209);
  display: flex;
  justify-content:space-between;
  width: 700px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;

  font-weight: normal;
  font-family: 'Fira Sans', sans-serif;
  color:white;  
}

.linjeOgNavn{
  display: flex;
  flex-direction:row;
  padding: 0;
  align-items: center;
}
.tid {
  padding-right: 10px;
  transform: translateY(-25%);
  height: fit-content;
}

.linjeDiv{
  border-radius: 0.3em;
  height: 100%;
  aspect-ratio: 1/1;
  text-align: center;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
}

.linje{
  padding: 0;
  margin: 0;
  

}

.stoppeplass {
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

.tbaneIkon{
  height: 100%;
  width: auto;
  margin-right: 5px;
}

.headerDiv  {
  display: flex;
  justify-content: left;
  height: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  align-items: center;
}

.heleTavle{
  font-size: 16px;
  position: absolute;
  left:10px;
  top:10px;
}

.backgroundContent{
  height: 100vh;
  width: auto;
  background-position: center center;
  background-size: cover;
}